/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(129, 189, 216);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid black;
  }
  .product-box > * {
    margin: 1rem;
  } */